Personsok/Connected Services/SparServiceReference/SPARPersonsokning.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch1="http://skatteverket.se/spar/komponent/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://skatteverket.se/spar/instans/1.0" xmlns:sch0="http://skatteverket.se/spar/instans/1.0" targetNamespace="http://skatteverket.se/spar/instans/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://skatteverket.se/spar/instans/1.0" xmlns:spako="http://skatteverket.se/spar/komponent/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://skatteverket.se/spar/instans/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://skatteverket.se/spar/komponent/1.0" />
      <xs:import namespace="http://skatteverket.se/spar/komponent/1.0" />
      <xs:annotation>
        <xs:appinfo>
          <SchemaMetadata xmlns="se/skatteverket/zl/SchemaMetadata/1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcq="http://purl.org/dc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="se/skatteverket/zl/SchemaMetadata/1.0 http://xmls.skatteverket.se/se/skatteverket/zl/SchemaMetadata/1.0/SchemaMetadata.xsd ">
            <dc:title>SPAR Personsökning</dc:title>
            <dc:description>Sammanhållet schema för SPAR Personsokning</dc:description>
            <dc:publisher>Skatteverket</dc:publisher>
            <dc:creator>
              <dcq:contact>www.skatteverket.se</dcq:contact>
              <dcq:owner>Skatteverket</dcq:owner>
            </dc:creator>
            <dc:date>
              <dcq:created>2010-10-01</dcq:created>
            </dc:date>
            <dc:subject>SPAR personsökning</dc:subject>
          </SchemaMetadata>
        </xs:appinfo>
      </xs:annotation>
      <xs:element name="SPARPersonsokningFraga">
        <xs:annotation>
          <xs:documentation>Frågedata för Personsökning i SPAR</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="spako:IdentifieringsInformation" />
            <xs:element ref="spako:PersonsokningFraga" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SPARPersonsokningSvar">
        <xs:annotation>
          <xs:documentation>Svar på en Personsökningsfråga. Innehåller frågan
				och noll, en eller flera svarsposter utan sortering.
			</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="spako:PersonsokningFraga" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spako:PersonsokningSvarsPost" />
            <xs:element minOccurs="0" maxOccurs="100" ref="spako:Undantag">
              <xs:annotation>
                <xs:documentation>Elementet kommer endast med om någon form av undantag inträffar.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="spako:OverstigerMaxAntalSvarsposter">
              <xs:annotation>
                <xs:documentation>Visas då antalet träffar överstiger gränsvärdet.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns="http://skatteverket.se/spar/komponent/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://skatteverket.se/spar/komponent/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:annotation>
        <xs:appinfo>
          <SchemaMetadata xmlns="se/skatteverket/zl/SchemaMetadata/1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcq="http://purl.org/dc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="se/skatteverket/zl/SchemaMetadata/1.0 http://xmls.skatteverket.se/se/skatteverket/zl/SchemaMetadata/1.0/SchemaMetadata.xsd ">
            <dc:title>SPAR Arkitekturschema för Personsökning</dc:title>
            <dc:description>Arkitekturschema för personsökning</dc:description>
            <dc:publisher>Skatteverket</dc:publisher>
            <dc:creator>
              <dc:contact>www.skatteverket.se</dc:contact>
            </dc:creator>
            <dc:date>
              <dc:created>2010-10-01</dc:created>
            </dc:date>
          </SchemaMetadata>
        </xs:appinfo>
      </xs:annotation>
      <xs:element name="IdentifieringsInformation" type="sch1:IdentifieringsInformationTYPE" />
      <xs:complexType name="IdentifieringsInformationTYPE">
        <xs:sequence>
          <xs:element ref="sch1:KundNrLeveransMottagare" />
          <xs:element ref="sch1:KundNrSlutkund" />
          <xs:element ref="sch1:OrgNrSlutkund" />
          <xs:element minOccurs="0" ref="sch1:UppdragsId" />
          <xs:element ref="sch1:SlutAnvandarId" />
          <xs:element minOccurs="0" maxOccurs="4" ref="sch1:SlutAnvandarUtokadBehorighet" />
          <xs:element ref="sch1:Tidsstampel" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="KundNrLeveransMottagare" type="sch1:KundNrTYPE">
        <xs:annotation>
          <xs:documentation>Kundnummer i SPAR för den kund som äger servercertifikatet som används för att anropa tjänsten. Kan men behöver inte vara samma som KundNrSlutkund.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KundNrSlutkund" type="sch1:KundNrTYPE">
        <xs:annotation>
          <xs:documentation>Kundnummer i SPAR för den kund som har fått tillstånd att anropa tjänsten. Kan men behöver inte vara samma som KundNrLeveransMottagare.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="KundNrTYPE">
        <xs:annotation>
          <xs:documentation>Kundnummer som tilldelats av SPAR.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="500001" />
          <xs:maxInclusive value="599999" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="OrgNrSlutkund" type="sch1:OrgNrTYPE">
        <xs:annotation>
          <xs:documentation>Organisationsnummer för kunden i SPAR med kundnummer KundNrSlutkund.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="OrgNrTYPE">
        <xs:restriction base="xs:string">
          <xs:length value="10" />
          <xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="SlutAnvandarUtokadBehorighet" type="sch1:SlutAnvandarUtokadBehorighetTYPE">
        <xs:annotation>
          <xs:documentation>Användarens behörighet, kan var samma eller mindre men aldrig större än slutkundens behörighet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="SlutAnvandarUtokadBehorighetTYPE">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Relationer">
            <xs:annotation>
              <xs:documentation>Utökad behörighet: relationer</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Medborgarskap">
            <xs:annotation>
              <xs:documentation>Utökad behörighet: svenskt medborgarskap</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Taxering">
            <xs:annotation>
              <xs:documentation>Utökad behörighet: födelsehemort, inkomst och fastighetsinnehav</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Sekretess">
            <xs:annotation>
              <xs:documentation>Utökad behörighet: sekretess</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="SlutAnvandarId" type="sch1:SlutAnvandarIdTYPE">
        <xs:annotation>
          <xs:documentation>Användar id för användaren i slutkundens system, ingen kontroll görs på detta användar id men det skrivs i loggar. Vid felsökning eller säkerhets audit är det ett absolut krav att slutkunden med hjälp av detta id med säkerhet ska kunna avgöra vilken enskild person som använt tjänsten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="SlutAnvandarIdTYPE">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="256" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Tidsstampel" type="sch1:TidsstampelTYPE" />
      <xs:simpleType name="TidsstampelTYPE">
        <xs:annotation>
          <xs:documentation>Datum och tid med millisekunder på formatet YYYY-MM-DDThh:mm:ss.nnn. Vid felsökning eller säkerhets audit ska denna kunna användas för att hitta rätt anrop i kundens logg filer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime" />
      </xs:simpleType>
      <xs:element name="UppdragsId" type="sch1:UppdragsIdTYPE">
        <xs:annotation>
          <xs:documentation>Av SPAR tilldelat uppdrags id för anropad tjänst. Ej obligatoriskt för anrop av Web Service tjänster.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="UppdragsIdTYPE">
        <xs:restriction base="xs:long">
          <xs:minInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="PersonsokningFraga" type="sch1:PersonsokningFragaTYPE" />
      <xs:complexType name="PersonsokningFragaTYPE">
        <xs:choice>
          <xs:element ref="sch1:PersonId" />
          <xs:sequence>
            <xs:element minOccurs="0" ref="sch1:FonetiskSokning" />
            <xs:choice>
              <xs:element minOccurs="0" ref="sch1:NamnSokArgument" />
              <xs:sequence>
                <xs:element minOccurs="0" ref="sch1:FornamnSokArgument" />
                <xs:element minOccurs="0" ref="sch1:MellanEfternamnSokArgument" />
              </xs:sequence>
            </xs:choice>
            <xs:element minOccurs="0" ref="sch1:UtdelningsadressSokArgument" />
            <xs:element minOccurs="0" ref="sch1:PostortSokArgument" />
            <xs:choice>
              <xs:element minOccurs="0" ref="sch1:PostNr" />
              <xs:sequence>
                <xs:element ref="sch1:PostNrFran" />
                <xs:element ref="sch1:PostNrTill" />
              </xs:sequence>
            </xs:choice>
            <xs:choice>
              <xs:element minOccurs="0" ref="sch1:Fodelsetid" />
              <xs:sequence>
                <xs:element ref="sch1:FodelsetidFran" />
                <xs:element ref="sch1:FodelsetidTill" />
              </xs:sequence>
            </xs:choice>
            <xs:element minOccurs="0" ref="sch1:Kon" />
            <xs:element minOccurs="0" ref="sch1:LanKod" />
            <xs:element minOccurs="0" ref="sch1:KommunKod" />
            <xs:element minOccurs="0" ref="sch1:ForsamlingKod" />
            <xs:choice>
              <xs:element minOccurs="0" ref="sch1:DistriktKod" />
              <xs:sequence>
                <xs:element ref="sch1:DistriktKodFrom" />
                <xs:element ref="sch1:DistriktKodTom" />
              </xs:sequence>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
      </xs:complexType>
      <xs:element name="PersonsokningSvarsPost" type="sch1:AviseringsPostTYPE">
        <xs:annotation>
          <xs:documentation>Person information, endast de poster där SPAR har
				data och som kundens behörighetskategori tillåter finns med i
				svaret.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FonetiskSokning" type="sch1:FonetiskSokningTYPE">
        <xs:annotation>
          <xs:documentation>Anger om sökning på namn ska matcha stavningen i sökargumentet eller om namn med liknande uttal också ska ge träff.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="FonetiskSokningTYPE">
        <xs:restriction base="xs:string">
          <xs:enumeration value="J">
            <xs:annotation>
              <xs:documentation>Namn med liknande uttal ger också träff.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>Endast namn med samma stavning ger träff.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="AviseringsPoster" type="sch1:AviseringsPosterTYPE" />
      <xs:complexType name="AviseringsPosterTYPE">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:AviseringsPost" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AviseringsPost" type="sch1:AviseringsPostTYPE" />
      <xs:complexType name="AviseringsPostTYPE">
        <xs:annotation>
          <xs:documentation>En komplett post med personinformation för en fysisk person i SPAR</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element ref="sch1:PersonId" />
          <xs:element ref="sch1:Sekretessmarkering" />
          <xs:element minOccurs="0" ref="sch1:SekretessAndringsdatum" />
          <xs:element minOccurs="0" ref="sch1:SenasteAndringSPAR" />
          <xs:element minOccurs="0" ref="sch1:SummeradInkomst" />
          <xs:element minOccurs="0" ref="sch1:Beskattningsar" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:Persondetaljer" />
          <xs:element minOccurs="0" ref="sch1:Adresser" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:Relation" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:Fastighet" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Persondetaljer" type="sch1:PersondetaljerTYPE" />
      <xs:complexType name="PersondetaljerTYPE">
        <xs:annotation>
          <xs:documentation>Detaljerad information direkt relaterad till personen som SPAR för de uppgifter SPAR sparar historik. Poster som saknar elementen DatumFrom och DatumTom avser aktuell information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:element name="DatumFrom" type="xs:date" />
            <xs:element name="DatumTill" type="xs:date" />
          </xs:sequence>
          <xs:element minOccurs="0" ref="sch1:Aviseringsnamn" />
          <xs:element minOccurs="0" ref="sch1:Fornamn" />
          <xs:element minOccurs="0" ref="sch1:Tilltalsnamn" />
          <xs:element minOccurs="0" ref="sch1:Mellannamn" />
          <xs:element minOccurs="0" ref="sch1:Efternamn" />
          <xs:element minOccurs="0" ref="sch1:Sekretessmarkering" />
          <xs:element minOccurs="0" ref="sch1:AvregistreringsorsakKod" />
          <xs:element minOccurs="0" ref="sch1:Avregistreringsdatum" />
          <xs:element minOccurs="0" ref="sch1:HanvisningsPersonNrByttFran" />
          <xs:element minOccurs="0" ref="sch1:HanvisningsPersonNrByttTill" />
          <xs:element minOccurs="0" ref="sch1:Fodelsetid" />
          <xs:element minOccurs="0" ref="sch1:FodelselanKod" />
          <xs:element minOccurs="0" ref="sch1:Fodelseforsamling" />
          <xs:element minOccurs="0" ref="sch1:Kon" />
          <xs:element minOccurs="0" ref="sch1:SvenskMedborgare" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Adresser" type="sch1:AdresserTYPE" />
      <xs:complexType name="AdresserTYPE">
        <xs:annotation>
          <xs:documentation>
	            Element för alla folkbokföringsadresser, särskild postadresser samt utlandsadresser. 
	        </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:Folkbokforingsadress" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:SarskildPostadress" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch1:Utlandsadress" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CareOf" type="sch1:CareOfTYPE" />
      <xs:simpleType name="CareOfTYPE">
        <xs:annotation>
          <xs:documentation>Care-of adress</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Utdelningsadress1" type="sch1:UtdelningsadressTYPE" />
      <xs:element name="Utdelningsadress2" type="sch1:UtdelningsadressTYPE" />
      <xs:element name="Utdelningsadress3" type="sch1:UtdelningsadressTYPE" />
      <xs:simpleType name="UtdelningsadressTYPE">
        <xs:annotation>
          <xs:documentation>Gatuadress, box etc, max 35 tecken.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="PostNr" type="sch1:PostNrTYPE" />
      <xs:simpleType name="PostNrTYPE">
        <xs:restriction base="xs:string">
          <xs:length value="5" />
          <xs:pattern value="[1-9][0-9][0-9][0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Postort" type="sch1:PostortTYPE" />
      <xs:simpleType name="PostortTYPE">
        <xs:annotation>
          <xs:documentation>Postort max 27 tecken.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="27" />
        </xs:restriction>
      </xs:simpleType>
      <xs:group name="SvenskAdress">
        <xs:annotation>
          <xs:documentation>Adress i Sverige.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:element name="DatumFrom" type="xs:date" />
            <xs:element name="DatumTill" type="xs:date" />
          </xs:sequence>
          <xs:element minOccurs="0" ref="sch1:CareOf" />
          <xs:element minOccurs="0" ref="sch1:Utdelningsadress1" />
          <xs:element minOccurs="0" ref="sch1:Utdelningsadress2" />
          <xs:element minOccurs="0" ref="sch1:PostNr" />
          <xs:element minOccurs="0" ref="sch1:Postort" />
        </xs:sequence>
      </xs:group>
      <xs:element name="Utlandsadress" type="sch1:UtlandsadressTYPE" />
      <xs:complexType name="UtlandsadressTYPE">
        <xs:annotation>
          <xs:documentation>Adress i utlandet eller i Sverige för utlandsbosatt.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:element name="DatumFrom" type="xs:date" />
            <xs:element name="DatumTill" type="xs:date" />
          </xs:sequence>
          <xs:element minOccurs="0" ref="sch1:CareOf" />
          <xs:element minOccurs="0" ref="sch1:Utdelningsadress1" />
          <xs:element minOccurs="0" ref="sch1:Utdelningsadress2" />
          <xs:element minOccurs="0" ref="sch1:Utdelningsadress3" />
          <xs:element minOccurs="0" ref="sch1:Land" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Folkbokforingsadress" type="sch1:FolkbokforingsadressTYPE" />
      <xs:complexType name="FolkbokforingsadressTYPE">
        <xs:annotation>
          <xs:documentation>Folkbokföringsadress i Sverige kompleterad med folkbokföringsinformation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:group ref="sch1:SvenskAdress" />
          <xs:element minOccurs="0" ref="sch1:FolkbokfordLanKod" />
          <xs:element minOccurs="0" ref="sch1:FolkbokfordKommunKod" />
          <xs:element minOccurs="0" ref="sch1:FolkbokfordForsamlingKod" />
          <xs:element minOccurs="0" ref="sch1:Folkbokforingsdatum" />
          <xs:element minOccurs="0" ref="sch1:DistriktKod" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FolkbokfordLanKod" type="sch1:LanKodTYPE" />
      <xs:element name="LanKod" type="sch1:LanKodTYPE" />
      <xs:simpleType name="LanKodTYPE">
        <xs:annotation>
          <xs:documentation>Svenska länskoder.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FolkbokfordKommunKod" type="sch1:KommunKodTYPE" />
      <xs:element name="KommunKod" type="sch1:KommunKodTYPE" />
      <xs:simpleType name="KommunKodTYPE">
        <xs:annotation>
          <xs:documentation>Svenska kommunkoder, länskod behövs för att ge en unik kommun.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FolkbokfordForsamlingKod" type="sch1:ForsamlingKodTYPE" />
      <xs:element name="ForsamlingKod" type="sch1:ForsamlingKodTYPE" />
      <xs:simpleType name="ForsamlingKodTYPE">
        <xs:annotation>
          <xs:documentation>Svenska församlingskoder, kommun och länskod behövs för att ge en unik församling.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Folkbokforingsdatum" type="xs:date" />
      <xs:element name="DistriktKod" type="sch1:DistriktKodTYPE" />
      <xs:element name="DistriktKodFrom" type="sch1:DistriktKodTYPE" />
      <xs:element name="DistriktKodTom" type="sch1:DistriktKodTYPE" />
      <xs:simpleType name="DistriktKodTYPE">
        <xs:annotation>
          <xs:documentation>Distriktkod</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[1-9][0-9][0-9][0-9][0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FolkbokforingsKod" type="sch1:FolkbokforingsKodTYPE" />
      <xs:simpleType name="FolkbokforingsKodTYPE">
        <xs:annotation>
          <xs:documentation>Folkbokföringskod.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0">
            <xs:annotation>
              <xs:documentation>Riktig fastighetsbeteckning</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="1">
            <xs:annotation>
              <xs:documentation>På kommunen skriven</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="2">
            <xs:annotation>
              <xs:documentation>Utan känt hemvist</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="SarskildPostadress" type="sch1:SarskildPostadressTYPE" />
      <xs:complexType name="SarskildPostadressTYPE">
        <xs:annotation>
          <xs:documentation>Särskild postadress i Sverige.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:group ref="sch1:SvenskAdress" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Land" type="sch1:LandTYPE" />
      <xs:simpleType name="LandTYPE">
        <xs:annotation>
          <xs:documentation>Land, max 35 tecken.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Fastighet" type="sch1:FastighetTYPE" />
      <xs:complexType name="FastighetTYPE">
        <xs:annotation>
          <xs:documentation>Sammanhållande element för en fastighet som personen äger hela eller delar av.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element ref="sch1:FastighetLanKod" />
          <xs:element ref="sch1:FastighetKommunKod" />
          <xs:element ref="sch1:FastighetsKod" />
          <xs:element ref="sch1:AndelstalTaljare" />
          <xs:element ref="sch1:AndelstalNamnare" />
          <xs:element minOccurs="0" ref="sch1:Taxeringsar" />
          <xs:element ref="sch1:Taxeringsvarde" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AndelstalNamnare" type="sch1:AndelstalNamnareTYPE" />
      <xs:simpleType name="AndelstalNamnareTYPE">
        <xs:annotation>
          <xs:documentation>Nämnare för ägarandel i fastigheten</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="AndelstalTaljare" type="sch1:AndelstalTaljareTYPE" />
      <xs:simpleType name="AndelstalTaljareTYPE">
        <xs:annotation>
          <xs:documentation>Täljare för ägarandel i fastigheten</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FastighetsKod" type="sch1:FastighetsKodTYPE" />
      <xs:simpleType name="FastighetsKodTYPE">
        <xs:restriction base="xs:string">
          <xs:enumeration value="S">
            <xs:annotation>
              <xs:documentation>Småhus</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FastighetLanKod" type="sch1:FastighetLanKodTYPE" />
      <xs:simpleType name="FastighetLanKodTYPE">
        <xs:annotation>
          <xs:documentation>Länskod där fastigheten är belägen.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FastighetKommunKod" type="sch1:FastighetKommunKodTYPE" />
      <xs:simpleType name="FastighetKommunKodTYPE">
        <xs:annotation>
          <xs:documentation>Kommunkod i det län där fastigheten är belägen.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Taxeringsar" type="sch1:TaxeringsarTYPE" />
      <xs:simpleType name="TaxeringsarTYPE">
        <xs:annotation>
          <xs:documentation>Taxeringsår som taxeringsvärdet avser</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="2[0-9][0-9][0-9]" />
          <xs:length value="4" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Taxeringsvarde" type="sch1:Taxeringsvarde" />
      <xs:simpleType name="Taxeringsvarde">
        <xs:annotation>
          <xs:documentation>Taxeringsvärde angivet taxeringsår i SEK</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]*" />
          <xs:maxLength value="11" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="SummeradInkomst" type="sch1:SummeradInkomstTYPE" />
      <xs:simpleType name="SummeradInkomstTYPE">
        <xs:annotation>
          <xs:documentation>Summerad inkomst i SEK</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]*" />
          <xs:maxLength value="11" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Beskattningsar" type="sch1:BeskattningsarTYPE" />
      <xs:simpleType name="BeskattningsarTYPE">
        <xs:annotation>
          <xs:documentation>Beskattningsår för summerad inkomst</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="2[0-9][0-9][0-9]" />
          <xs:length value="4" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Aviseringsnamn" type="sch1:AviseringsnamnTYPE" />
      <xs:simpleType name="AviseringsnamnTYPE">
        <xs:annotation>
          <xs:documentation>Aviseringsnamn är en av folkbokföringen förkortat version av hela namnet att användas vid utskrift på kuvert etc.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Efternamn" type="sch1:EfternamnTYPE" />
      <xs:simpleType name="EfternamnTYPE">
        <xs:annotation>
          <xs:documentation>Efternamn max 60 tecken långt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Fornamn" type="sch1:FornamnTYPE" />
      <xs:simpleType name="FornamnTYPE">
        <xs:annotation>
          <xs:documentation>Förnamn max 80 tecken långt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="80" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Mellannamn" type="sch1:MellannamnTYPE" />
      <xs:simpleType name="MellannamnTYPE">
        <xs:annotation>
          <xs:documentation>Mellannamn max 40 tecken långt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="40" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Tillskrift" type="sch1:TillskriftTYPE" />
      <xs:simpleType name="TillskriftTYPE">
        <xs:annotation>
          <xs:documentation>Tillskrift används t.ex. vid adresering av minderåriga: Till vårdnadshavare för</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Tilltalsnamn" type="sch1:TilltalsnamnTYPE" />
      <xs:simpleType name="TilltalsnamnTYPE">
        <xs:annotation>
          <xs:documentation>Kod för tilltalsnamn, 10 anger att första förnamnet är tilltals namn, 23 anger att andra och tredje förnamnet är tilltalsnamn</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="10" />
          <xs:maxInclusive value="99" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="ForMellanEfterNamn" type="sch1:ForMellanEfterNamnTYPE" />
      <xs:complexType name="ForMellanEfterNamnTYPE">
        <xs:annotation />
        <xs:sequence>
          <xs:element minOccurs="0" ref="sch1:Fornamn" />
          <xs:element minOccurs="0" ref="sch1:Mellannamn" />
          <xs:element minOccurs="0" ref="sch1:Efternamn" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FysiskPersonId" type="sch1:FysiskPersonIdTYPE" />
      <xs:element name="HanvisningsPersonNr" type="sch1:HanvisningsPersonNrTYPE" />
      <xs:element name="HanvisningsPersonNrByttFran" type="sch1:HanvisningsPersonNrTYPE" />
      <xs:element name="HanvisningsPersonNrByttTill" type="sch1:HanvisningsPersonNrTYPE" />
      <xs:simpleType name="FysiskPersonIdTYPE">
        <xs:annotation />
        <xs:restriction base="xs:string">
          <xs:length value="12" />
          <xs:pattern value="((((18|19|20)[0-9][0-9])(((01|03|05|07|08|10|12)(0[1-9]|1[0-9]|2[0-9]|3[0-1]))|((04|06|09|11)(0[1-9]|1[0-9]|2[0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))|(((18|19|20)(04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)(0229)))|(20000229)))(00[1-9]|0[1-9][0-9]|[1-9][0-9][0-9])[0-9]" />
          <xs:pattern value="((((18|19|20)[0-9][0-9])(((00|01|03|05|07|08|10|12)(6[0-9]|7[0-9]|8[0-9]|9[0-1]))|((04|06|09|11)(6[0-9]|7[0-9]|8[0-9]|90))|((02)(6[0-9]|7[0-9]|8[0-8])))|(((18|19|20)(04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)(0289)))|(20000289)))(00[1-9]|0[1-9][0-9]|[1-9][0-9][0-9])[0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="HanvisningsPersonNrTYPE">
        <xs:annotation />
        <xs:restriction base="xs:string">
          <xs:length value="12" />
          <xs:pattern value="(18|19|20)[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="PersonId" type="sch1:PersonIdTYPE" />
      <xs:complexType name="PersonIdTYPE">
        <xs:sequence>
          <xs:element ref="sch1:FysiskPersonId" />
        </xs:sequence>
        <xs:attribute default="N" name="nulage" type="sch1:NulageTYPE" />
      </xs:complexType>
      <xs:simpleType name="NulageTYPE">
        <xs:restriction base="xs:string">
          <xs:enumeration value="J">
            <xs:annotation>
              <xs:documentation>Nuläge</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>Ej nuläge</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Fodelsetid" type="sch1:FodelsetidTYPE" />
      <xs:element name="FodelsetidFran" type="sch1:FodelsetidTYPE" />
      <xs:element name="FodelsetidTill" type="sch1:FodelsetidTYPE" />
      <xs:simpleType name="FodelsetidTYPE">
        <xs:restriction base="xs:date" />
      </xs:simpleType>
      <xs:element name="AvregistreringsorsakKod" type="sch1:AvregistreringsorsakKodTYPE" />
      <xs:element name="Avregistreringsdatum" type="sch1:AvregistreringOfullstandigtDatumTYPE" />
      <xs:simpleType name="AvregistreringsorsakKodTYPE">
        <xs:annotation>
          <xs:documentation>Avregistreringsorsak</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="A">
            <xs:annotation>
              <xs:documentation>Avliden</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="G">
            <xs:annotation>
              <xs:documentation>Gammalt nummer</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="O">
            <xs:annotation>
              <xs:documentation>Övrig orsak</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="AvregistreringOfullstandigtDatumTYPE">
        <xs:annotation>
          <xs:documentation>Används när endast delar av avregistreringsdatum är känt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:element name="Relation" type="sch1:RelationTYPE" />
      <xs:complexType name="RelationTYPE">
        <xs:annotation>
          <xs:documentation>Relations person</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:element name="DatumFrom" type="xs:date" />
            <xs:element name="DatumTill" type="xs:date" />
          </xs:sequence>
          <xs:element ref="sch1:Relationstyp" />
          <xs:element minOccurs="0" ref="sch1:PersonId" />
          <xs:element minOccurs="0" ref="sch1:Fornamn" />
          <xs:element minOccurs="0" ref="sch1:Mellannamn" />
          <xs:element minOccurs="0" ref="sch1:Efternamn" />
          <xs:element minOccurs="0" ref="sch1:Fodelsetid" />
          <xs:element minOccurs="0" ref="sch1:AvregistreringsorsakKod" />
          <xs:element minOccurs="0" ref="sch1:Avregistreringsdatum" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Relationstyp" type="sch1:RelationstypTYPE">
        <xs:annotation>
          <xs:documentation>Typ av relation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:simpleType name="RelationstypTYPE">
        <xs:restriction base="xs:string">
          <xs:enumeration value="V">
            <xs:annotation>
              <xs:documentation>Vårdnadshavare</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>Maka/Make/Partner</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="SenasteAndringSPAR" type="sch1:SenasteAndringSPARTYPE" />
      <xs:simpleType name="SenasteAndringSPARTYPE">
        <xs:annotation>
          <xs:documentation>Datum för senaste ändring i SPAR</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date" />
      </xs:simpleType>
      <xs:element name="SvenskMedborgare" type="sch1:SvenskMedborgareTYPE" />
      <xs:simpleType name="SvenskMedborgareTYPE">
        <xs:annotation>
          <xs:documentation>J=Personen är svensk medborgare, N=Personen är inte svensk medborgare</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="J" />
          <xs:enumeration value="N" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="FodelselanKod" type="sch1:FodelselanKodTYPE" />
      <xs:simpleType name="FodelselanKodTYPE">
        <xs:annotation>
          <xs:documentation>Länskod för födelse län</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Fodelseforsamling" type="sch1:FodelseforsamlingTYPE" />
      <xs:simpleType name="FodelseforsamlingTYPE">
        <xs:annotation>
          <xs:documentation>Födelseförsamling i fritext</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="30" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Sekretessmarkering" type="sch1:SekretessmarkeringTYPE" />
      <xs:simpleType name="SekretessmarkeringTYPE">
        <xs:annotation>
          <xs:documentation>Anger om personen har sekretess markering</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="J">
            <xs:annotation>
              <xs:documentation>Personen har sekretess markering</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>Personen har inte sekretess markering</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="SekretessAndringsdatum" type="sch1:SekretessAndringsdatumTYPE" />
      <xs:simpleType name="SekretessAndringsdatumTYPE">
        <xs:annotation>
          <xs:documentation>Datum då sekretessmarkering på personen senast ändrades</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date" />
      </xs:simpleType>
      <xs:element name="Kon" type="sch1:KonTYPE" />
      <xs:simpleType name="KonTYPE">
        <xs:annotation>
          <xs:documentation>Kön</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:length value="1" />
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>Man</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="K">
            <xs:annotation>
              <xs:documentation>Kvinna</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="NamnSokArgument" type="sch1:NamnSokArgumentTYPE" />
      <xs:simpleType name="NamnSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument där förnamn, mellannamn och efternamn, åtskilda av mellanslag, förekommer i godtycklig ordning. Tillåter wild card *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-']*" />
          <xs:minLength value="1" />
          <xs:maxLength value="80" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="OverstigerMaxAntalSvarsposter" type="sch1:OverstigerMaxAntalSvarsposterTYPE">
        <xs:annotation>
          <xs:documentation>Anger om antalet poster som matchar sökkriterierna överskrider max antal.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="OverstigerMaxAntalSvarsposterTYPE">
        <xs:sequence>
          <xs:element name="AntalPoster" type="xs:int" />
          <xs:element name="MaxAntalSvarsPoster" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Undantag" type="sch1:UndantagTYPE">
        <xs:annotation>
          <xs:documentation>Anger en felkod och en felbeskrivning om ett fel pga sokparameterar uppstått.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="UndantagTYPE">
        <xs:sequence>
          <xs:element name="Kod" type="xs:string" />
          <xs:element name="Beskrivning" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FornamnSokArgument" type="sch1:FornamnSokArgumentTYPE" />
      <xs:simpleType name="FornamnSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument där förnamn, åtskilda av mellanslag, förekommer i godtycklig ordning. Tillåter wild card *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-']*" />
          <xs:minLength value="1" />
          <xs:maxLength value="80" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="MellanEfternamnSokArgument" type="sch1:MellanEfternamnSokArgumentTYPE" />
      <xs:simpleType name="MellanEfternamnSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument där mellannamn och efternamn, åtskilda av mellanslag, förekommer i godtycklig ordning. Tillåter wild card *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-']*" />
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="AdressSokArgument" type="sch1:AdressSokArgumentTYPE" />
      <xs:simpleType name="AdressSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument med care-of, gatuadress eller motsvarande åtskilda av mellanslag. Tillåter wild card *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-/.,:]*" />
          <xs:minLength value="1" />
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="CareOfSokArgument" type="sch1:CareOfSokArgumentTYPE" />
      <xs:simpleType name="CareOfSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument för C/O delen i adressen. Tillåter wildcard *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-/.,:]*" />
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="PostNrSokArgument" type="sch1:PostNrSokArgumentTYPE" />
      <xs:element name="PostNrFran" type="sch1:PostNrSokArgumentTYPE" />
      <xs:element name="PostNrTill" type="sch1:PostNrSokArgumentTYPE" />
      <xs:simpleType name="PostNrSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument för postnummer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:length value="5" />
          <xs:pattern value="[1-9][0-9][0-9][0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="PostortSokArgument" type="sch1:PostortSokArgumentTYPE" />
      <xs:simpleType name="PostortSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Tillåter ett eller flera argument åtskilda av mellanslag. Tillåter wild card *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-]*" />
          <xs:minLength value="1" />
          <xs:maxLength value="27" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="UtdelningsadressSokArgument" type="sch1:UtdelningsadressSokArgumentTYPE" />
      <xs:simpleType name="UtdelningsadressSokArgumentTYPE">
        <xs:annotation>
          <xs:documentation>Sökargument med gatuadress eller motsvarande åtskillda av mellanslag. Tillåter wild card *.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\w+[\w\s*\-/.,:]*" />
          <xs:minLength value="1" />
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SPARPersonsokningSvar">
    <wsdl:part name="SPARPersonsokningSvar" element="sch0:SPARPersonsokningSvar" />
  </wsdl:message>
  <wsdl:message name="SPARPersonsokningFraga">
    <wsdl:part name="SPARPersonsokningFraga" element="sch0:SPARPersonsokningFraga" />
  </wsdl:message>
  <wsdl:message name="PersonsokningFraga">
    <wsdl:part name="PersonsokningFraga" element="sch1:PersonsokningFraga" />
  </wsdl:message>
  <wsdl:portType name="SPARPersonsokning">
    <wsdl:operation name="SPARPersonsokning">
      <wsdl:input name="SPARPersonsokningFraga" message="sch0:SPARPersonsokningFraga" />
      <wsdl:output name="SPARPersonsokningSvar" message="sch0:SPARPersonsokningSvar" />
    </wsdl:operation>
    <wsdl:operation name="Personsokning">
      <wsdl:input name="PersonsokningFraga" message="sch0:PersonsokningFraga" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPARPersonsokningSoap11" type="sch0:SPARPersonsokning">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SPARPersonsokning">
      <soap:operation soapAction="" />
      <wsdl:input name="SPARPersonsokningFraga">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SPARPersonsokningSvar">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Personsokning">
      <soap:operation soapAction="" />
      <wsdl:input name="PersonsokningFraga">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPARPersonsokningService">
    <wsdl:port name="SPARPersonsokningSoap11" binding="sch0:SPARPersonsokningSoap11">
      <soap:address location="https://kt-ext-ws.statenspersonadressregister.se/spar-webservice/SPARPersonsokningService/20160213" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>